USE [master]
GO
/****** Object:  Database [VGA_M_Hackathon]    Script Date: 10/1/2023 7:50:59 AM ******/
CREATE DATABASE [VGA_M_Hackathon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VGA_M_Hackathon', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VGA_M_Hackathon.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VGA_M_Hackathon_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VGA_M_Hackathon_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VGA_M_Hackathon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VGA_M_Hackathon]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 10/1/2023 7:50:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[contactID] [int] IDENTITY(1,1) NOT NULL,
	[roleID] [int] NULL,
	[phone] [nchar](10) NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[contactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marker]    Script Date: 10/1/2023 7:51:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marker](
	[markerID] [int] IDENTITY(1,1) NOT NULL,
	[tittle] [nvarchar](200) NULL,
	[image] [nvarchar](200) NULL,
	[description] [nvarchar](200) NULL,
	[address] [nvarchar](200) NULL,
	[company] [nvarchar](200) NULL,
	[positionX] [float] NULL,
	[positionY] [float] NULL,
 CONSTRAINT [PK_Marker] PRIMARY KEY CLUSTERED 
(
	[markerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/1/2023 7:51:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[gmail] [varchar](50) NULL,
	[password] [nchar](10) NULL,
	[role] [int] NULL,
	[times] [int] NULL,
	[point] [float] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([userID], [gmail], [password], [role], [times], [point]) VALUES (1, N'anhng130@gmail.com', N'123456    ', 1, 3, 30)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
USE [master]
GO
